
/* Aline pereira - 77161 */
/*
    CSS GLOBAL
    - Este arquivo define o estilo visual de todas as páginas do site
    - Você pode aplicá-lo a qualquer novo arquivo HTML com a mesma linha:
      <link rel="stylesheet" href="assets/css/global.css">
*/


body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    
    color: #c5c6c7;
    text-align: center;
}

/* ======= ======== */
header {
    
    background-color: #1f2833;
    padding: 2rem 0;
}

h1 {
    color: #66fcf1; /* blue neon */
    margin-bottom: 0.5rem;
}


h2 {
    color: purple;
    font-weight: normal;
}

/* ======== LINKS ======== */
a {
    color: #66fcf1;
    text-decoration: none;
    transition: 0.3s; 


a:hover {
    text-decoration: underline;
}

/* ================ */
footer {
    margin-top: 3rem;
    padding: 1rem;
    background-color: #1f2833;
    color: #c5c6c7;
    font-size: 0.9rem;
}

/* ======== text ======== */
p {
    line-height: 1.6;  
    max-width: 800px;
    margin: 0 auto 1rem;
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    margin: 0.5rem 0;
}
